<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flights Visualization Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- Our CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="../style.css"> -->
  <style>
    body {
        padding: 0;
        margin: 0;
    }
    html, body, #map {
        height: 100%;
        width: 100%;
    }
</style>
</head>

<body>
  <div class="container">
    <div class="row">
        <div class="col-sm-12">
          <div id="graph1"></div>

        </div>
        <div class="col-sm-6">
          <div id="graph2a"></div>

        </div>
        <div class="col-sm-6">
          <div id="graph2b"></div>

        </div>
        <div class="col-sm-12">
          <div id="graph3"></div>

        </div>
    </div>
</div>

<!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script> -->
<!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
  
<div class ="container-fluid">
  <div class = "row">
    <h2 class = "text-center text-white col-md-8 offset col-md-2">
       Flight Delays At Major Airports
    </h2>
  </div>  
</div>


  
<div id="map">map </div>




<div class = "row mx-auto">
  <div class = "btn-tollbar offset-md-2" role ="toolbar" aria-label = "Toolbar with button groups" id ="months">
    <div class = "btn-group mr-2" role = "group" aria-label = "first group">
        <button type="button" class="btn btn-info month" value = "1" >Jan</button>
        <button type="button" class="btn btn-warning month" value = "2">Feb</button>
        <button type="button" class="btn btn-warning month" value = "3">Mar</button>
    </div>
    <div class = "btn-group mr-2" role = "group" aria-label = "second group">
        <button type="button" class="btn btn-warning month" value = "4">Apr</button>
        <button type="button" class="btn btn-warning month" value = "5">May</button>
        <button type="button" class="btn btn-warning month" value = "6">June</button>
    </div>
    <div class = "btn-group mr-2" role = "group" aria-label = "third group">
        <button type="button" class="btn btn-warning month" value = "7">July</button>
        <button type="button" class="btn btn-warning month" value = "8">Aug</button>
        <button type="button" class="btn btn-warning month" value = "9">Sept</button>
    </div>
    <div class = "btn-group mr-2" role = "group" aria-label = "fourth group">
        <button type="button" class="btn btn-warning month" value = "10">Oct</button>
        <button type="button" class="btn btn-warning month" value = "11">Nov</button>
        <button type="button" class="btn btn-warning month" value = "12">Dec</button>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for('static', filename='js/config.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/logic.js') }}"></script>
  
</body>

</html>