<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flights Visualization Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
        <div class="col-sm-12">
          <div id="graph1"></div>

        </div>
        <div class="col-sm-6">
          <div id="graph2a"></div>

        </div>
        <div class="col-sm-6">
          <div id="graph2b"></div>

        </div>
        <div class="col-sm-12">
          <div id="graph3"></div>

        </div>
    </div>
</div>

  <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="static/js/app.js"></script>
  <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->

</body>

</html>
